@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color:#333;
  color: #eee;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:hover, button:focus {
  outline: none;
}

.margin-left {
  margin-left: 1rem;
}

.padding {
  padding-top: 2rem;
  padding-bottom:  2rem;
}

.margin {
  margin-top: 2rem;
  margin-bottom:  2rem;
}

